h1{
    border: 2px solid black;
}
#bordeRojo{

    border: 2px solid red;
}

.backgroundBlue{
    background-color: rgb(76, 0, 255);
}

#main{
    max-width: 600px;
    margin: 0 auto;
}

.simple{
    width: 500px;
    margin: 20px auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
     box-sizing: border-box;
     border: solid yellow 10px;
    
}

.fancy{
    width: 500px;
    margin: 20px auto;
    padding: 50px;
    border: solid blue 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}